#achievements-container {
    height: 40%;
}

#achievements-container img{
    width: 33%;
}


.modal-content h2{
    padding: 4%;
    border-radius: 50px;
    color: white;
    background: #FF5722;
}

#profile-line {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px black dashed;
    padding-bottom: 2%;
}

#logout-button {
    padding: 1rem;
    color: white;
    background: red;
    border-radius: 20px;

}

#profile-photo {
    height: 100%;
    border-radius: 50%;
}

#achievements-container {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.achievement {
    width: calc(33.33% - 20px); /* 3 achievements per row with margin */
    margin: 10px;
    text-align: center;
    float: left;
}

/* Clear float every third achievement */
.achievement:nth-child(3n+1) {
    clear: left;
}

.achievement img {
    width: 100%;
    height: 100%; /* Ensure the image fills its container */
    object-fit: contain; /* Maintain aspect ratio */
}

#add-as-friend-button {
    height: 9vh;
    width: 9vh;
    border: 0.5rem white solid;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/addfriend.png");
}

.achieved {
    color: green;
}