/*Definition du font*/
@font-face {
    font-family: 'Spritendo';
    src: url('../ressources/spritendo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Spritendo', sans-serif;
    background-color: #f0f0f0;
}
body{
    min-height: 100%;
    display: flex;
    clear: both;
    flex-direction: row;
}

button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    width: 80%;
    height: 10%;
    font-family: inherit;
    font-size: 2em;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0; /* Initially hide the rainbow effect */
}

button:hover:before {
    opacity: 1; /* Show the rainbow effect on hover */
    animation: glowing-button 20s linear infinite;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 20px;
}


div.panel {
    display: flex;
    flex-direction: column;
    gap : 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

div#leftPanel {
    width: 25%;
    height: 100vh;
    background-color: lightgrey;
}
div#midPanel {
    width: 50%;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: visible;
}
div#rightPanel {
    width: 25%;
    height: 100vh;
    background-color: lightgrey;
}


