#boardsContainer {
    display: flex;
    justify-content: space-around;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(17, auto);
    gap: 2px;
    justify-content: center;
}

.cell, .wall {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #333;
}

.wall {
    width: 10px;
    height: 10px;
    background-color: rosybrown;
}

.wall.horizontal {
    width: 50px;
    background-color: yellow;
}

.wall.vertical {
    height: 50px;
    background-color: orangered;

}

.surbrillance {
    background-color: aquamarine !important;
}

.placed {
    background-color: black !important;
}

.fog {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../ressources/cloud.png");
}

#joueur-1, #joueur-2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
}

#joueur-1 {
    background-image: url("../ressources/mario.png");
}

#joueur-2 {
    background-image: url("../ressources/luigi.png");
}
