.messages-modal-content {
    position: relative;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10vh auto;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    gap: 2vw;
    border: 0.5rem solid orange;
    border-radius: 20px;
}

.messages-modal-content h2 {
    font-size: 2.5vw
}

#messages-container {
    min-height: 20vh;
    width: 60vw;
    padding: 2vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    border: 0.4rem black solid;
    border-radius: 12px;

}

.message {
    flex-shrink:0;
    font-size: 2vw;
    padding: 2vw;
    max-width: 40%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.message p {
    text-wrap: wrap;
    word-break: break-all;
}
.our-message {
    align-self: flex-end;
    background-color: #009e16;
}

.other-player-message {
    align-self: flex-start;
    background-color: #4b93ff;
}
.input-container {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.input-container button{
    width: 40%;
}
#message-input {
    height: 15vh;
    width: 40%;
    padding: 2%;
    border: 0.2rem black solid;
    border-radius: 12px;
}

@media (orientation: portrait) {

    .messages-modal-content {
        height: 70vh;
        width: 90vw;
    }

    .messages-modal-content h2 {
        font-size: 3vw
    }

    #messages-container {
        min-height: 40vh;
        width: 75vw;
        border: 0.2rem black solid;
    }

    .message {
        font-size: 4vw;
        padding: 2vw;
        max-width: 45%;
    }

    .message p {
        text-wrap: wrap;
        word-break: break-all;
    }
    .our-message {
        align-self: flex-end;
        background-color: #009e16;
    }

    .other-player-message {
        align-self: flex-start;
        background-color: #4b93ff;
    }

    .input-container {
        font-size: 3vw;
        flex-direction: column;
        gap: 4vw;
    }

    .input-container button{
        width: 50%;
    }
    #message-input {
        height: 5vh;
        width: 100%;
    }

}