#anti-cheat-local {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
}