
.cell, .wall {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 7.5vh;
    height: 7.5vh;
    background-image: url("../../assets/images/bloc.png");
    background-size: 7.5vh;
}

.wall {
    width: 1.5vh;
    height: 1.5vh;
}

.wall.horizontal {
    width: 7.5vh;
}

.wall.vertical {
    height: 7.5vh;
}

.wall.horizontal.placed {
    width: 7.5vh;
    background-size: cover;
    background-position: center;
    background: black;
    /*background-image: url("../../assets/images/pipe-horizontal.png");*/
}

.wall.vertical.placed {
    height: 7.5vh;
    background-size: cover;
    background-position: center;
    background: black;
    /*background-image: url("../../assets/images/pipe-vertical.png");*/
}

.surbrillance {
    background-color: aquamarine !important;
}

.fog {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/cloud.png");
}

#joueur-1, #joueur-2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
}

#joueur-1 {
    background-image: url("../../assets/images/mario.png");
}

#joueur-2 {
    background-image: url("../../assets/images/luigi.png");
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(17, auto);
    gap: 0.3vh;
    justify-content: center;
    background-image: url("../../assets/images/water.png");
    background-size: cover;
    padding: 1vh;
    border-radius: 2%;
}
